settingUP
dataset/*
__pycache__
*/__pycache__
**/__pycache__
scripts/yelp_tokenized.npz
scripts/cuda_debug_tensors.npz
custom_ext/build.log
custom_ext/build_log.txt
custom_ext/build/
custom_ext/custom_cuda_ops.egg-info/
custom_ext/dist/
custom_pipeline/execution_time.log
custom_pipeline/ncu_output.log
tests/ncu_output.log

# Ignore binary data files everywhere
*.npz
*.pth
*.ncu-rep
*.sqlite
*.nsys-rep
